# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Skip mac files
.DS_Store

# project files
.metadata

CBHelper/.mosyncproject.local
